<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1> Schedule for <%= day %> </h1>
    <div class="scheduleItem">
        <p>Title</p>
        <p>Time Start</p>
        <p>Time End</p>
    </div>
    <% if(result.length > 0) { %>
        <% result.forEach(result=>{ %>
            <div class="scheduleItem">
                <p><%= result.title %></p>
                <p><%= result.timestart %></p>
                <p><%= result.timeend %></p>
                <a href="/deleteSchedule/<%= result.scheduleid%>/<%= day%>"><img src="Trash.png"></a>
            </div>
        <%})%>
    <% }%>
    <a href="/addSchedulePage/<%= day%>"><button>Add schedule</button></a>
</body>
</html>